body{
    padding:0;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
}

.navbar li{
    list-style: none;
    float: right;
    padding-right:80px;
}
.navbar li a{
    text-decoration: none;
    color: rgb(94, 94, 94);
    font-weight: 700;
    padding-left: 40px;
    font-family: sans-serif;
}

h1{
    font-size: 80px;
    margin-bottom: 10px;
}

h2{
    font-size: 48px;
}
.text-highlight{
    color: tomato;
}

.flex{
    display: inline-flex;
}
.half-width{
    width: 40%;
    padding-left: 4%;
}

.half-width img{
    width:100%;
}

.paragraph{
    font-family:'Roboto', sans-serif;
    margin-bottom: 40px;
    font-size: 16px;
    color:#6C6C6C;
    line-height:28px;
}

.color-btn{
    padding: 10px 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 400;
    background-color:#FF6C63 ;
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}

section{
    padding-bottom: 80px;
}


.project-area{
    background-color: #E5E5E5;
    padding: 80px 4%;
}

.content-title{
    text-align: center;
}

.project{
    display: inline-flex;
}
.single-project{
    width: 28%;
    margin:1%;
    padding:15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 10px lightgray;
}
.single-project img{
    width: 100%;
}

h3{
    font-family: 'Roboto', sans-serif;
}

.footer-area{
    padding: 80px 100px !important;
    text-align: center !important;
    margin-left:auto;
    margin-right: auto;
}

.chat-area{
    position: relative;
}
.chat-area img{
    width: 70%;
}
.chat-box{
    position:absolute;
    top: 10%;
    left:20%;
}
.chat{
    display:inline-flex;
    align-items: center;
    justify-content: space-between;
}

.footer-title{
    font-size: 64px;
    font-family: 'Bebas Neue', cursive;
    color:#fff;
    margin:30px 0;
}

.footer-btn{
    margin-left:250px;
}

.stay-connected-area{
    padding: 30px 0;
}
.stay-connect{
    color:rgb(80, 80, 80);
    font-family: 'Bebas Neue', cursive;
}

.footer-email{
    font-size: 36px;
    font-family:'Roboto', sans-serif;
    text-decoration: none;
    color: #363958;
}

.social-widgets img{
    width:40px;
    margin-left:15px;
}

footer{
    text-align: center;
    font-family: 'Roboto', sans-serif; 
}

footer a{
    text-decoration: none;
    color:black
}
footer a:hover{
    text-decoration: underline;
}